<div class="dates">
  <button nbButton (click)="changeDate(dates[0])" class="button">
    <nb-icon icon="arrow-left-outline"></nb-icon>
  </button>
  <button *ngFor="let date of dates" nbButton (click)="getSelectedDate(date)" class="date">
    {{date}}
  </button>
  <button nbButton (click)="changeDate(dates[2])" class="button">
    <nb-icon icon="arrow-right-outline"></nb-icon>
  </button>
</div>

<h1 class="title">Matches</h1>
<div class="fixture_list" *ngFor="let fixture of sampleFixtures; index as i">
<nb-card class="fixture" (click)="openFixture(i)">
    <img class="logo" src={{fixture.teams.home.logo}} alt="">
    <p>{{fixture.teams.home.name}} {{fixture.goals.home}}-{{fixture.goals.away}} {{fixture.teams.away.name}}</p>
    <img class="logo" src={{fixture.teams.away.logo}} alt="">
</nb-card>
</div>
