@import '../../themes.scss';

.dates {
  display: flex;
  justify-content: space-between;
  .button,
  .date {
    border-color: nb-theme(color-primary-400);
    background: nb-theme(color-primary-transparent-100);
    color: nb-theme(color-basic-100);
    &:hover {
      border-color: nb-theme(color-primary-400);
      background: nb-theme(color-primary-400);
    }
  }
}

.title {
  text-align: center;
}

.fixture_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.fixture {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.fixture__stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
}

.fixture__stats__home {
  display: flex;
  flex-direction: column;
}

.fixture__stats__type {
  display: flex;
  flex-direction: column;
}

.fixture__stats__away {
  display: flex;
  flex-direction: column;
}

.logo {
  height: 100px;
  width: 100px;
  padding: 10px;
}

.stat__card {
  width: 400px;
}
