@import '../../themes.scss';

.dates {
  display: flex;
  justify-content: space-between;

  .button,
  .date {
    border: 1px solid nb-theme(color-primary-400);
    border-radius: 4px;
    background: nb-theme(color-primary-transparent-100);
    color: nb-theme(color-basic-100);
    padding: 15px 10px;
    text-align: center;

    &:hover {
      border-color: nb-theme(color-primary-400);
      background: nb-theme(color-primary-400);
    }

    p {
      font-weight: 600;
      margin: 0;
    }
  }

  .active {
    border-color: nb-theme(color-primary-400);
    background: nb-theme(color-primary-400);
  }

  @media (max-width: 768px) {
    :nth-child(11),
    :nth-child(10) {
      display: none;
    }
  }

  @media (max-width: 640px) {
    :nth-child(9),
    :nth-child(8) {
      display: none;
    }
  }

  @media (max-width: 500px) {
    :nth-child(7),
    :nth-child(6) {
      display: none;
    }
  }

  @media (max-width: 360px) {
    :nth-child(5){
      display: none;
    }
  }
}

.title {
  text-align: center;
}

nb-accordion-item-header {
  padding: 0;
}

.fixture {
  margin-bottom: 24px;

  &__header {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 24px;

    nb-icon.expansion-indicator {
      display: none;
    }
  }

  &__stats {
    margin: auto;
    display: flex;
    max-width: 500px;
    justify-content: space-around;
    text-align: center;

    &__home,
    &__away,
    &__type {
      display: flex;
      flex-direction: column;
    }
  }
}

.logo {
  height: 80px;
  width: 80px;
  padding: 10px;
}
